.outer {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.outer :after {
  clear:both;
  content:'.';
  display:block;
  width: 0;
  height: 0;
  visibility:hidden;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-size: 14px;
}

.hide{
  display: none;
}

/*登陆页面input*/
.zhanghaoxinxi .label input[placeholder]{
  font-family: 微软雅黑;
}

.wangjimima{

}
.disanfangtitle .text{

}
.disanfangtitle{

}
.disanfangname{

}
#address .icon-cuohao{
  position: absolute;
  right: 10px;
}
.cate-nav li a{
  text-decoration: none;
  color: #2e2e2e;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul{
  margin: 0;
  padding: 0;
}
.qrcodeimg{
  height: 39px;
  line-height: 39px;
}
.qrcodeimg .code-btn{
  background: #fb4e90;
  color: #fff;
}
#zhucexinxi .shoujihao,#zhucexinxi .registJiaoyanMa input,#zhucexinxi .setpsw input{
  border-radius: 5px;
}
